<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="app.dao.before.UserDeviceDao">

    <resultMap id="deviceList" type="device">
        <!--<result property="device_id" column="device_id"/>-->
        <result property="device_name" column="device_name"/>
        <result property="device_protocol_id" column="device_protocol_id"/>
        <result property="device_desc" column="device_desc"/>
    </resultMap>

    <resultMap id="protocolList" type="protocol">
        <!--<result property="protocol_id" column="protocol_id"/>-->
        <result property="protocol_name" column="protocol_name"/>
    </resultMap>

    <resultMap id="priClassifyList" type="priClassify">
        <result property="pri_classify_id" column="pri_classify_id"/>
        <result property="pri_classify_name" column="pri_classify_name"/>
    </resultMap>

    <resultMap id="userDeviceList" type="UserDevice">
        <result property="user_id" column="user_id"/>
        <result property="device_id" column="device_id"/>
        <result property="device_status" column="device_status"/>
        <result property="device_auth" column="device_auth"/>
        <result property="device_addr" column="device_addr"/>
        <result property="device_api" column="device_api"/>
        <result property="device_desc" column="device_desc"/>
        <association property="device" javaType="Device" resultMap="deviceList"/>
        <association property="protocol" javaType="Protocol" resultMap="protocolList"/>
        <association property="priClassify" javaType="PriClassify" resultMap="priClassifyList"/>
    </resultMap>

    <!--<resultMap id="userDeviceList" type="UserDeviceList">-->
    <!--    <association property="user" javaType="User" resultMap="userList"/>-->
    <!--    <collection property="userDevice" javaType="UserDevice" resultMap="UserDevice"/>-->
    <!--</resultMap>-->

    <!--用户添加设备-->
    <insert id="addUserDevice" parameterType="userDevice">
        insert into tb_user_device
        <trim prefix="(" suffix=")" suffixOverrides=",">
            user_id,
            device_id,
            device_status,
            device_auth,
            <if test="device_addr != null and device_addr !=''">
                device_addr,
            </if>
            <if test="device_api != null and device_api !=''">
                device_api,
            </if>
            <if test="device_desc != null and device_desc != ''">
                device_desc,
            </if>
        </trim>
        <trim prefix="values(" suffix=")" suffixOverrides=",">
            #{user_id},
            #{device_id},
            #{device_status},
            #{device_auth},
            <if test="device_addr != null and device_addr != ''">
                #{device_addr},
            </if>
            <if test="device_api != null and device_api != ''">
                #{device_api},
            </if>
            <if test="device_desc != null and device_desc != ''">
                #{device_desc},
            </if>
        </trim>
    </insert>

    <!--用户删除设备-->
    <delete id="deleteUserDeviceByAuth" parameterType="String">
        delete from tb_user_device where device_auth = #{auth}
    </delete>

    <!--用户更新已添加设备的信息-->
    <update id="updateUserDevice" parameterType="UserDevice">
        update tb_user_device
        <set>
            <if test="user_id != null and user_id != ''">
                user_id = #{user_id}
            </if>
            <if test="device_id != null and device_id != ''">
                device_id = #{device_id},
            </if>
            <if test="device_status != null and device_status != ''">
                device_status = #{device_status},
            </if>
            <if test="device_addr != null and device_addr != ''">
                device_addr = #{device_addr},
            </if>
            <if test="device_api != null and device_api != ''">
                device_api = #{device_api},
            </if>
            <if test="device_desc != null and device_desc != ''">
                device_desc = #{device_desc},
            </if>
        </set>
        where device_auth = #{device_auth}
    </update>

    <select id="findAllUserDevice" parameterType="String" resultMap="userDeviceList">
        select ud.*, d.device_name, d.device_protocol_id, pro.protocol_name, pri.pri_classify_name
        from tb_user_device as ud, tb_device as d, tb_protocol as pro, tb_pri_classify as pri
        where ud.device_id = d.device_id
        and d.device_protocol_id = pro.device_protocol_id
        and ud.user_id = #{id}
    </select>

    <select id="findUserDevice" parameterType="UserDevice" resultMap="userDeviceList">
        select ud.*, d.device_name, d.device_protocol_id
        from tb_user_device ud, tb_device as d
        <trim prefix="where" prefixOverrides="and">
            and ud.device_id = d.device_id
            and ud.user_id = #{user_id}
            <if test="device_id !=null and device_id != ''">
                and ud.device_id like concat('%', #{device_id}, '%')
            </if>
            <if test="device_status != null and device_status != ''">
                and ud.device_status like concat('%', #{device_status}, '%')
            </if>
            <if test="device_auth !=null and device_auth != ''">
                and ud.device_auth like concat('%', #{device_auth}, '%')
            </if>
            <if test="device_addr != null and device_addr != ''">
                and ud.device_addr like concat('%', #{device_addr}, '%')
            </if>
        </trim>
    </select>

    <select id="findUserDeviceByAuth" parameterType="String" resultMap="userDeviceList">
        select ud.*, d.device_name, d.device_protocol_id, pro.protocol_name, pri.pri_classify_name
        from tb_user_device as ud, tb_device as d, tb_protocol as pro, tb_pri_classify as pri
        where ud.device_id = d.device_id
        and d.device_protocol_id = pro.device_protocol_id
        and ud.user_id = #{id}
        and ud.device_auth = #{auth}
        limit 1
    </select>

    <select id="countDevice" parameterType="String" resultType="Integer">
        select count(1) from tb_user_device where user_id = #{id}
    </select>

    <select id="countOnlineDevice" parameterType="String" resultType="Integer">
        select count(1) from tb_user_device where user_id = #{id} and device_status = 'ON'
    </select>

</mapper>